/***********************GENERAL STYLING*************************/

section {
    height: 100vh;
}

p {
    color: #000;
    text-align: center;
    /*    font-size: 2em;*/
}


/*************************END OF GENERAL STYLING*******************/


/*************************WELCOME SECTION**************************/


/****************************NAV BAR************************************/

nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    min-height: 50px;
    height: 70px;
    background: #fff;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 24px 10px;
}

nav li a {
    color: #757575;
    text-transform: uppercase;
}

.toggle-nav {
    display: none;
}

.nav-mobile style {
    display: block;
}


/*********NAV BAR END**********/

#welcome {
    background-color: firebrick;
}

.mad-skillz:after {
    content: attr(data-content);
}

.small-11 {
    padding-top: 10%;
    font-size: 6em;
}


/********************END OF WELCOME SECTION*****************/


/*****ABOUT SECTION********/

#about {
    background-color: deepskyblue;
    height: 60vh;
}

.small-10 {
    padding-top: 15vh;
}

.small-10 p {
    font-size: 2em;
}


/**********END OF ABOUT SECTION********/


/************CHAT SECTION************/

#chat {
    background-color: forestgreen;
}


/*********END OF CHAT SECTION*******/


/****************************MEDIA QUERIES************************************/

@media only screen and (max-width: 768px) {
    .nav li {
        font-size: 14px;
        float: left;
        padding-left: 0%;
        margin-left: 7%;
    }
}

@media only screen and (max-width: 640px) {
    .toggle-nav {
        display: block;
        padding: 10px;
        position: absolute;
        right: 10px;
        line-height: 30px;
    }
    .toggle-nav:after {
        content: ' Menu';
    }
    .nav-mobile {
        display: none;
    }
    .style-mobile {
        background: #ffffff;
        top: 51px;
        position: absolute;
        width: 100%;
    }
    .style-mobile li {
        display: block;
        width: 100%;
    }
    .nav {
        top: 0;
        display: block;
        float: none;
        margin: 0em;
    }
}


/*
@media only screen and (max-width: 641px) {
    .nav-mobile {
        display: block !important;
    }
}

@media only screen and (max-width: 425px) {
    p {
        margin-top: 60%;
        text-align: center;
        font-size: 4em;
    }
}
*/


/*********MEDIA QUERY END**********/